.navigation-banner {
    background: url('../utilities/ServicesBanner.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    min-height: 100px;
    margin: 0;
    padding: 0;
}

.ServicesContainerOne {
    background-color: #F1ECE7;
    /* padding: 10% 8%; */
    padding-top: 8%;
}

.Services-Intro {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.text-containerOne {
    width: 50%;
    background-color: #626D7B;
    /* Set background color */
    color: #ffffff;
    /* Set text color to white for better readability */
}

.textP1,
.textP2 {
    color: #ffffff;
    /* Ensures text inside the container is white */
}

.textP1 {
    text-align: center;
    font-size: 300%;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.67);
    padding: 2%;
}

.textP2 {
    font-size: 150%;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.67);
    padding: 0px;
    padding: 5%;
    margin-top: -50%;
}

.photo-containerOne {
    width: 50%;
    padding: 2%;
    background-color: #626D7B;
}

.photo-containerOne img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}